html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  color: #fff;
  padding-top: 1em;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

nav {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;

}

.nav {
  overflow: hidden;
}

.nav li {
  float: left;
  width: 33.3%;
  font-size: 1.125rem;
  border: solid #a63f38 .1em;
}

.grain-left {
  float: left;
  width: 40px;
}

.grain-right {
  float: right;
  width: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: .5em;
}

.nav a:hover {
background-color: #a63f38;
}
